body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

canvas {
    background: url("bg.jpg") center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url('menu.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#head, #score {
    padding: 15px 0;
    font-size: 2rem;
    color: #c16262;
}

#buttons {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin-bottom: 20px;
    background: #80808042;
    font-size: 1.5rem;
    color: #d03434;
    border-color: #00000061;
    transition: transform 0.2s linear;
}

#keyboard {
    color: #ffffff73;
}

#mouse {
    color: #001163;
}

button:hover {
    cursor: pointer;
    transform: scale(2.1);
}

#exit {
    background: #80808042;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: default;
    border-width: 2px;
    border-style: outset;
    border-color: #0000008c;
    margin-bottom: 40px;
    padding: 1px 2px;
    transition: transform 0.2s linear;
}

#exit:hover {
    cursor: pointer;
    transform: scale(2.1);
}

#bestRes {
    display: none;
}
